* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    color: rgb(127, 131, 136);
    background-color:#DEB887 ;
}
h1{
    color: #696969;
    width: 100%;
}

button {
    display: block;
    width: 100%;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: inherit;
    color: inherit;
    background-color: white;
    border: 2px;
    border-radius: 12px;
}

.container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid red;
    border-radius: 5px;
}

.form__row {
    margin-top: 0.5rem;
    display: flex;
}

.form__input {
    padding: 0.5rem;
    width: 20rem;
    background-color: #FFEBCD;
    border: 2px solid #666;
    border-radius: 8px;
  
}


    
